
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google Apps">
<test name="Regression1" preserve-order="false">
  <classes>
 
    <class name="test.NewTest">
      <methods>
        <!-- <include name="m1" />
        <include name="m2" /> -->
      </methods>
    </class>
 
    <!-- <class name="test.Test2" /> -->
 
  </classes>
</test>
